.board-of-directors {
    background-color: #f1f7f4;
}

.board-of-directors .container {
    padding: 0 5% !important;
}

.board-of-directors img {
    width: 100%;
    height: 220px;
}

.d-name {
    font-size: 13px !important;
}

.board-of-directors h3 {
    font-size: 14px;
    color: rgba(96, 96, 92, 0.5);
    font-weight: 600;
}

.board-of-directors .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.d-data {
    margin: 20px 0;
}