.natural-resource {
    background-color: var(--bg-color);
}

.natural-resource .banner img{
    width: 100%;
}

.natural-resource .banner .intro-text {
    background-color: var(--green-color);
}

.natural-resource .banner .intro-text p {
    padding: 1rem 15%;
}

.natural-resource .natural-resource-data {
    padding: 0 10%;
    color: var(--gray-color);
}

.natural-resource .natural-resource-data > p {
    width: 95%;
}

.natural-resource .natural-resource-data .flex-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
}

.natural-resource .natural-resource-data .flex-box .natural-resource-text {
    width: 55%;
}

.natural-resource .natural-resource-data .flex-box .natural-resource-image {
    width: 40%;
}

.natural-resource .natural-resource-data .flex-box .natural-resource-image img {
    width: 100%;
    margin-bottom: 2rem;
    height: auto;
}

@media(max-width: 768px) {
    .natural-resource .natural-resource-data {
        padding: 0 5%;
    }

    .natural-resource .natural-resource-data .flex-box {
        flex-direction: column;
    }
    
    .natural-resource .natural-resource-data .flex-box .natural-resource-text {
        width: 100%;
    }
    
    .natural-resource .natural-resource-data .flex-box .natural-resource-image {
        width: 100%;
    }

    .natural-resource .natural-resource-data > p {
        width: 100%;
    }
}