.what-we-do {
    background-color: var(--bg-color);
}

.what-we-do .banner img{
    width: 100%;
}

.what-we-do .banner .intro-text {
    background-color: var(--green-color);
}

.what-we-do .banner .intro-text p {
    padding: 1rem 10%;
}

.what-we-do .what-we-do-data {
    padding: 0 10%;
    color: var(--gray-color);
}

.what-we-do .what-we-do-data > p {
    width: 95%;
}

.what-we-do-data img {
    width: 100% !important;
}

@media(max-width: 768px) {
    .what-we-do .what-we-do-data {
        padding: 0 5%;
    }

    .what-we-do .what-we-do-data .flex-box {
        flex-direction: column;
    }
    
    .what-we-do .what-we-do-data .flex-box .what-we-do-text {
        width: 100%;
    }
    
    .what-we-do .what-we-do-data .flex-box .what-we-do-image {
        width: 100%;
    }

    .what-we-do .what-we-do-data > p {
        width: 100%;
    }
}

.what-we-do h3 {
    color: var(--green-color) !important;
}